.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.khaki {
    background: khaki;
}

.khaki-text {
    color: #390000;
}

.blue {
    background: #61dafb;
}

.blue-text {
    color: #ff0000;
}