body {
    padding: 50px;
    margin: 0;
}

.wrapper {
    display: flex;
    align-items: end;
}

.message {
    position: relative;
    width: 300px;
    padding: 30px;
    border-radius: 10px 10px 10px 0;
    background: #4d5156;
    color: #bbfbbc;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px 15px;
}

.message::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    display: block;
    width: 30px;
    height: 30px;
    background: radial-gradient(60px at top left, transparent 49%, #4d5156 51%) no-repeat right bottom;
}

.ava {
    width: 50px;
    border-radius: 50%;
}

.name {
    color: #af74f3;
    margin-bottom: 15px;
}